*.obj
*.tlog
*.vcxproj
*.vcxproj
*.filters
review.vcxproj
review.vcxproj.filters
review.vcxproj.filters
*.idb
*.tlog
*.log
*.filters
*.vcxproj
*.tlog
*.filters
*.vcxproj
*.pdb
*.idb
*.tlog
*.log
*.tlog
*.idb
*.pdb
*.vcxproj
*.filters
